name: Print Gerrit patchset data

on:
  workflow_call:
    inputs:
      client_payload:
        required: false
        type: string

jobs:
  print-patchset:
    runs-on: ubuntu-latest
    steps:
      - name: Print client_payload
        run: |
          echo '${{ toJson(inputs.client_payload) }}'

  report:
    runs-on: ubuntu-latest
    needs:
      - print-patchset
    steps:
      - name: Report results
        run: |
          # Credits to https://github.com/spdk-community-ci/dispatcher/blob/main/.github/workflows/autorun.yml
          set -e

          VOTE=-1
          if [[ "${{ needs.print-patchset.result }}" == "success" ]]; then
            VOTE=1
          fi

          # For demonstration purposes, as not to set any actual vote and only comment.
          VOTE=0

          # Commented out for now, so I don't accidentally spam the Gerrit server.
          # curl -X POST https://review.spdk.io/gerrit/a/changes/${{ fromJson(inputs.client_payload).change.number }}/revisions/${{ fromJson(inputs.client_payload).patchSet.number }}/review \
          # --user "${{ secrets.GERRIT_BOT_USER }}:${{ secrets.GERRIT_BOT_HTTP_PASSWD }}" \
          # --header "Content-Type: application/json" \
          # --data "{'message': '$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID', 'labels': {'Verified': $VOTE}}" \
          # --fail-with-body
